@font-face {
  font-family: Selawik;
  src: url("../fonts/selawkl.woff2") format("woff2"), url("../fonts/selawkl.woff") format("woff"), url("../fonts/selawkl.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: Selawik;
  src: url("../fonts/selawksl.woff2") format("woff2"), url("../fonts/selawksl.woff") format("woff"), url("../fonts/selawksl.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: Selawik;
  src: url("../fonts/selawk.woff2") format("woff2"), url("../fonts/selawk.woff") format("woff"), url("../fonts/selawk.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: Selawik;
  src: url("../fonts/selawksb.woff2") format("woff2"), url("../fonts/selawksb.woff") format("woff"), url("../fonts/selawksb.ttf") format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: Selawik;
  src: url("../fonts/selawkb.woff2") format("woff2"), url("../fonts/selawkb.woff") format("woff"), url("../fonts/selawkb.ttf") format("ttf");
  font-weight: 700;
}
