html[data-bs-theme="dark"] {
  figure,
  .subfigures {
    img:not([data-darksrc]) {
      filter: invert(90%);
      border: 1px solid black;
    }
  }
  .table {
    --bs-table-hover-bg: var(--bs-secondary-bg) !important;
  }
}

#title {
  margin-bottom: 1rem;
}

#theme-selector {
  button {
    border-width: 0px !important;
  }
  svg {
    overflow-x: visible !important;
    overflow-y: visible !important;
  }
  .dropdown-toggle {
    color: currentColor;
    svg {
      width: 19px;
      height: 19px;
      margin-right: 0.25rem;
    }
  }
  .dropdown-menu {
    min-width: 7rem !important;
    svg {
      width: 17px;
      height: 17px;
    }
    .dropdown-item {
      border-radius: 0.25rem !important;
      --bs-dropdown-item-padding-x: 0.5rem !important;
    }
  }
  svg {
    fill: currentColor;
  }
}

abbr,
.abbr {
  text-decoration: none !important;
}

table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  caption {
    text-align: center;
  }
  thead {
    border-top: 3px solid !important;
    border-bottom: 2px solid !important;
  }
  tbody {
    border-bottom: 3px solid !important;
    &.tbody-headless {
      border-top: 3px solid !important;
    }
  }
  .tr-empty {
    --bs-table-hover-bg: var(--bs-body-bg) !important;
  }
}

figcaption {
  max-width: 87.5%;
  color: var(--bs-secondary-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figure {
  text-align: center;
  &:not(.subfigure) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &:not(.subfigures) figcaption {
    margin-top: 1rem;
  }
}

.subfigures figure div {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

sup:not(.sup-left) {
  padding-left: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
}

h2 {
  margin-top: 2rem;
}

h2,
h3,
h4 {
  .header-section-number {
    font-size: smaller;
    font-weight: normal;
    &:after {
      content: ".";
    }
  }
  .header-link {
    text-decoration: none;
    margin-left: 0.5rem;
    font-weight: 400;
    color: var(--bs-primary);
    opacity: 0%;
    transition: opacity 0.15s ease-in-out;
    &::after {
      content: "#";
    }
  }
  &:hover {
    .header-link {
      opacity: 100% !important;
    }
  }
}

h5,
h6 {
  .header-section-number {
    display: none;
  }
}

a.footnote-ref,
a.author-link,
.citation a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.citation .locator {
  font-size: smaller;
  vertical-align: top;
  position: relative;
  top: 1.25em;
  margin-left: 1px;
}

#refs li {
  margin: 1rem 0;
}

table caption,
figcaption,
.tooltip-inner {
  font-size: smaller;
}

#appendices hr {
  margin: 4rem 0;
}

#footnotes hr {
  margin-top: 4rem;
}

.hidden {
  display: none;
}

#toc-sidebar {
  overflow-x: hidden;
  #toc-title {
    font-weight: 500 !important;
    border-bottom: 1px solid var(--bs-tertiary-color);
    &:after {
      content: "On this page";
    }
  }
  button:hover {
    color: var(--bs-primary-color) !important;
    border-color: var(--bs-primary-color) !important;
  }
  li {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
    ul {
      padding-left: 1rem !important;
    }
  }
}

@media (min-width: 768px) {
  #toc-sidebar {
    position: fixed;
    top: 4rem;
    max-width: 220px;
    max-height: 80%;
    overflow-y: auto;
  }
}

@media (min-width: 1400px) {
  #toc-sidebar {
    margin-left: -3rem;
  }
}

#toc {
  font-size: 0.875rem;
  a {
    text-decoration: none !important;
    color: var(--bs-secondary-color) !important;
    padding: 0.25rem 0 0.25rem 0.75rem;
    border-left: 0.125rem solid transparent;
  }
  a.active,
  a:hover {
    color: var(--bs-emphasis-color) !important;
    border-left-color: var(--bs-emphasis-color) !important;
  }
  a.active {
    font-weight: 700 !important;
  }
}

.dummy-math-tag {
  visibility: hidden !important;
  margin-top: -2rem !important;
}

.math.inline .katex {
  font-size: 1.1em;
}

#scroll-to-top {
  svg {
    fill: var(--bs-info-text);
    svg {
      fill: var(--bs-secondary-bg);
    }
  }
}

#scroll-shadow feDropShadow {
  flood-color: var(--bs-secondary-text);
  flood-opacity: 50%;
}
