html[data-bs-theme="dark"] {
  figure, .subfigures {
    img:not([data-darksrc]) {
      filter: invert(90%);
      border: 1px solid black;
    }
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.math-display-wrap {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  .katex-display {
    margin: 0.5em 0;
  }
}

svg {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#title {
  margin-bottom: 1rem;
}

#theme-switch {
  svg {
    width: 24px;
    height: 24px;
  }
  &:hover {
    cursor: pointer;
  }
  margin-left: 2rem;
}

abbr, .abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-decoration: none !important;
}

table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  caption {
    text-align: center;
  }
}

figure {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  img {
    max-width: 100%;
    height: auto;
  }
  figcaption {
    margin-top: 1rem;
  }
}

.subfigures p {
  text-align: center;
}

.sup-left {
  padding-right: 2px;
}

.sup-right {
  padding-left: 2px;
}

h1:not(#title) {
  margin-top: 2rem;
}

h1, h2, h3 {
  .header-section-number {
    font-size: smaller;
    font-weight: normal;
    &:after {
      content: ".";
    }
  }
}

h4, h5, h6 {
  .header-section-number {
    display: none;
  }
}

.citation a {
  text-decoration: none;
}

#refs {
  font-size: smaller;
  div {
    margin: 1rem 0;
  }
}

.footnotes {
  font-size: smaller;
}
