html[data-bs-theme="dark"] {
  figure, .subfigures {
    img:not([data-darksrc]) {
      filter: invert(90%);
      border: 1px solid black;
    }
  }
}

#title {
  margin-bottom: 1rem;
}

#theme-selector {
  .dropdown-toggle {
    color: currentColor;
    border: 0px;
    padding-top: 0px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .dropdown-menu {
    min-width: 7rem !important;
    svg {
      width: 17px;
      height: 17px;
    }
    .dropdown-item {
      border-radius: .25rem;
      --bs-dropdown-item-padding-x: .5rem;
    }
  }
  svg {
    fill: currentColor;
  }
}

abbr, .abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-decoration: none !important;
}

table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  caption {
    text-align: center;
  }
}

figure {
  text-align: center;
  &:not(.subfigure) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &:not(.subfigures) figcaption {
    margin-top: 1rem;
  }
}

.sup-left {
  margin-right: -2px;
}

.sup-right, .footnote-ref sup, .citation sup {
  padding-left: 2px;
}

h1, h2, h3, h4, h5, h6 {
  word-break: keep-all;
}

h2 {
  margin-top: 2rem;
}

h2, h3, h4 {
  .header-section-number {
    font-size: smaller;
    font-weight: normal;
    &:after {
      content: ".";
    }
  }
}

h5, h6 {
  .header-section-number {
    display: none;
  }
}

a.footnote-ref, a.author-link, .citation a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

#refs li {
  margin: 1rem 0;
}

table caption, figcaption, .tooltip-inner {
  font-size: smaller;
}

#appendices hr {
  margin: 4rem 0;
}

#footnotes hr {
  margin-top: 4rem;
}
